Source: eega-tag-library
Section: java
Priority: extra
Maintainer: Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0),
               maven-debian-helper,
               libmaven-antrun-plugin-java,
               maven2
Standards-Version: 3.9.2
Vcs-Git: git://git.braintech.pl/eega-tag-library.git
Vcs-Browser: http://git.braintech.pl/eega-tag-library.git

Package: libeega-tag-library-java
Architecture: all
Depends: ${misc:Depends}
Description: Old code imported from EEGA
